/*
div#controllerSetup table > thead > tr > th:first-child {
    flex: 0 0 12em !important;
}

div#controllerSetup table > tbody > tr > td:first-child {
    flex: 0 0 9em !important;
}

div#controllerSetup table > thead > tr > th:nth-child(2n+1) {
    flex: 0 0 12em !important;
}

div#controllerSetup table > tbody > tr > td:nth-child(2n+1) {
    flex: 0 0 9em !important;
}
    */


/*div#controllerSetup table > thead > tr > th:not(:first-child) {
    flex: 0 0 7em !important;
}*/

/*div#controllerSetup table > tbody > tr > td:not(:first-child) {
    flex: 0 0 7em !important;
}
*/


