<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>PAR Command Notification</title>
    <style type="text/css">
        table {
            border: 1px solid #FFFFFF;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            table-layout: fixed;
            width: 100%;
        }

        tr.content-tr {
            border: 1px solid #FFFFFF;
            padding: 10px;
            background-color: #F2F2F2
        }

        tr.content-tr:nth-child(odd) {
            background-color: #E1F2EF
        }

        .head-tr {
            background-color: #62A5D1;
            color: #FFFFFF;
        }

        .group-head {
            background-color: #C0C0C0;
            font-weight: bold;
        }

        .sub-group-head {
            background-color: #DCDCDC;
            text-indent: 1em;
            font-weight: bold;
        }

        .head-th {
            border: none;
            padding: 10px;
            font-size: larger;
        }

        td {
            border: 1px solid #FFFFFF;
            padding: 10px;
            text-align: left;
        }

        .border-separator {
            border-bottom: 4px solid #FFFFFF !important;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr class="head-tr">
                <th class="head-th">
                    <span>PAR Command Notification</</span>
                    <br />
                </th>
            </tr>
        </thead>
    </table>
</body>
</html>
    