<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Par.CommandCenter.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
			<httpProtocol>
				<customHeaders>
					<!--<add name="X-Content-Type-Options" value="nosniff"/>
					<add name="X-Xss-Protection" value="1; mode=block"/>
					<add name="X-Frame-Options" value="SAMEORIGIN"/>
					--><!--<add name="Content-Security-Policy" value="default-src https:; img-src * 'self' data: https:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; worker-src 'self' blob:;" />--><!--
					<add name="Referrer-Policy" value="same-origin"/>
					<add name="Permissions-Policy" value="accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"/>-->
					<!--<add name="X-Permitted-Cross-Domain-Policies" value="none"/>-->
					<remove name="X-Powered-By"/>
					<remove name="X-AspNet-Version"/>
					<remove name="Server" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 6969FA1E-66B8-42B4-B962-E89CE0F5962B-->