div.tenants-summary-table > div > table > tbody {
    height: calc(100vh - 263px);
}


#tenantsSummaryPage div.table-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 130px);
}